/* Article 1 */

.article-facts {
    margin-top: 45%;
}

#text-slider, ul
{
    height: 300px;
}
#text-slider
{
	margin: auto;
	overflow: hidden;
	position: relative;
	max-width: 600px;
}
#text-slider li
{
	float: left;
	position: relative;
	width: 600px;
	display: inline-block;
    height: 200px;
    font-size: 20pt;
    font-family: var(--font-title);
}
#text-slider ul
{
	list-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 9000px;
	transition: left .3s linear;
	-moz-transition: left .3s linear;
	-o-transition: left .3s linear;
	-webkit-transition: left .3s linear;
	margin-left: -25px;
}

.text-slider-container
{
	margin: 0 auto;
	padding: 0;
	width: 550px;
    min-height: 180px;
}

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}
 
#text-slider ul
{
    animation: slide-animation 15s infinite;
	-webkit-animation: slide-animation 15s infinite;
}
/* pause the content on mouse hover */
#text-slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}


/* Article 2 */

/* Article 3 */

/* Article 4 */

.bad_good-line {
 display: flex;
 flex-wrap: wrap;
 flex-basis: 100%;
}

.bad_good-entity {
    display: flex;
    flex-wrap: nowrap;
    width: 600px;

    & img {
        flex-basis: 20%;
        height: auto;
        width: 2px;
    }

    & div {
        flex-basis: 80%;
            text-align: left; 
    }
}