@font-face {
	font-family: 'Helvetica Now Display Light';
	src: url('../fonts/HelveticaNowDisplay-Light.eot');

	font-family: 'Helvetica Now Display Light Italic';
	src: url('../fonts/HelveticaNowDisplay-LightIta.eot');

	font-family: 'Helvetica Now Display Bold';
	src: url('../fonts/HelveticaNowDisplay-Bold.eot');


	font-style: normal;
	font-weight: normal;
}

b, strong {
	font-family: 'Helvetica Now Display Bold';
	src: url('../fonts/HelveticaNowDisplay-Bold.eot');
}

em, i {
	font-family: 'Helvetica Now Display Light Italic';
}