footer {
   /* 
   	margin-top: 15%;
    margin: ;
	background-position: center bottom;
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	height: 20vw;
	*/
}