footer {
   	margin-top: 1000px;
	background-position: center bottom;
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	height: 20vw;
}

footer a {
	color: white;
	transition:.5s;
}

footer a:hover {
	color: Red;
	letter-spacing: 1px;
}

footer p {
	text-align: center;
	position: relative;
	bottom: -300px;
	font-size: 15px;	
}