h1 {
    font-family: var(--font-title);
    font-size: 40pt;
}

html, body {
    font-family: var(--font-text);
	font-size: 100%;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}