html, body {
    font-family: var(--font-text);
    font-size: 100%;
    font-size: 15pt;
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-title);
    font-size: 40pt;
}

h2 {
    font-family: var(--font-title);
    font-size: 30pt;
}

h3 {
    font-family: var(--font-title);
    font-size: 20pt;
    margin-bottom: 10px;
}