:root {
	--primary-color: #23005A;
	--secondary-color: #FF8900;
	--text-color: white;
	--gradient: linear-gradient(-90deg, #FF8900 0%, #FF0000 100%);	

	--font-text: 'Helvetica Now Display Light', sans-serif;
	--font-title: 'Helvetica Now Display Bold', sans-serif;
}

@custom-media --screen-tiny (max-width: 320px);
@custom-media --screen-mobile (max-width: 640px);
@custom-media --screen-phablet (max-width: 820px);
@custom-media --screen-tablet print, (max-width: 1000px);
@custom-media --screen-desktop print, (max-width: 1240px);
@custom-media --screen-big print, (min-width: 2000px);
@custom-media --screen-4k (min-width: 3870px);